@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.title {
  text-align: left;
  margin-top: 5px;
  font-size: 35px;
}

a {
  color: #635cff;
}

a,
.theme {
  cursor: pointer;
}
